.avatar1{
    width: 250px;
    height: 250px;
}

.item{
    padding: 10px;
    margin-bottom: 30px;
    margin-left: 160px;
    margin-top: 30px;
}
.name {
    color: white;
    font-size: 30px;
    margin: 10px;
}
.status {
    color: gold;
    font-size: 25px;
}

.formSummaryError {
    border: solid 1px red;
    padding:5px;
    color: #6a1515;
}