
.avatar1 {
    margin-top: 30px;
    margin-left: 200px;
    width: 350px;
    height: 350px;
    border: solid black 3px;
}

.item {
    margin-left: 30px;
    font-size: 40px;
}

.name {
    color: white;
    font-size: 30px;
    margin: 10px;
}

.status {
    color: gold;
    font-size: 25px;
}

.formSummaryError {
    border: solid 1px red;
    padding: 5px;
    color: #6a1515;
}

.infoUsers {
    color: white;
}

.photoUp {

    font-size: 20px;
    margin-left: 200px;
}


.input__wrapper {
    pointer-events: none;
    width: 100%;
    opacity: 0;
    position: relative;
    margin: 15px 0;
    text-align: center;
}

.photoBorder:hover .input__wrapper{
    opacity: 1;
    pointer-events: auto;
}

.input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.input__file_icon_wrapper {
    height: 60px;
    width: 60px;
    margin-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-right: 1px solid #fff;
}

.input__file_button_text {
    line-height: 1;
    margin-top: 1px;
}

.input__file_icon {
    width: 50px;
    height: 50px;
}

.input__file_button {
    cursor: pointer;
    width: 100%;
    max-width: 290px;
    height: 60px;
    background: #1bbc9b;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 auto;
}

.buttonsPhoto {
    cursor: pointer;
}

.buttonDelete {
    color: red;
}
