.selectedPage{
    color: gold;
}
.error{
    border: solid 3px red;
}
.errorText{
    color: red;
}
.numberPage{
    width: 900px;
    display: flex;
    justify-content: space-between;
}
.numberFont{
    text-shadow: 1px 0 1px #000,
    0 1px 1px #000000,
    -1px 0 1px #000,
    0 -1px 1px #000;
}
.input{
    height: 35px;
    font-size: 30px;
    /*width: 300px;*/
    /*height: 30px;*/
}
.input::-webkit-input-placeholder{
    font-size: 18px;
    margin: 0 auto;
    /* Chrome /
}
:-ms-input-placeholder { / IE 10+ /

}
::-moz-placeholder { / Firefox 19+ /

}
:-moz-placeholder { / Firefox 4 - 18 */
}

.rightBtn{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.leftBtn{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.rightBtn{
    height: 100px;
    width: 150px;
    background-image: url("png-transparent-green-arrow-computer-icons-left-arrow-angle-rectangle-triangle.png");
    background-size: 150px;
}
.leftBtn{
    height: 100px;
    width: 150px;
    background-image: url("left.png");
    background-size: 150px;
}
.pageNumber{
    text-shadow: 1px 0 1px #000,
    0 1px 1px #000000,
    -1px 0 1px #000,
    0 -1px 1px #000;
}