


.content {
    background-image: url("smeshnye_lica_foto_8.png");
    background-size: 3px;
    display: flex;
    flex-direction: column;
    text-shadow: 1px 0 1px #940000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 1px #000;
}
