.Header {

    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
    background-color: #000000;

}
.Header button{
    width: 130px;
    height: 50px;
    font-size: 30px;
}

.Logo {
    width: 25px;
}

.nameSite {
    font-family: "Fira Code Light";
    color: #F6EFEF;
}

.profileBlock{
    margin-top: 5px;
    display: flex;
    align-self: center;
}
.logoMain {
    width: 65px;
    height: 65px;
}

.loginBlock{
    margin-left: 800px;
    color: #ffffff;
}

.loginBlock a {
    margin-left: 100px;
    text-decoration: none;
    color: white;
}

.text{
    margin-left: 70px;
}

.logOutBtn{
    margin-left: 10px;
    color: white;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.avatar{
    margin-top: 5px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
}