.Header {

    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
    background-color: #000000;

}
.Header button{
    width: 130px;
    height: 50px;
    font-size: 30px;
}

.Logo {
    width: 25px;
}

.nameSite {
    font-family: ObelixPro;
    color: #6d0789;
}

.logoMain {
    width: 25px;
    height: 25px;
}

.loginBlock{
    margin-left: 100px;
    color: gold;
}

.loginBlock a {
    margin-left: 100px;
    text-decoration: none;
    color: white;
}

.text{
    margin-left: 70px;
}