

body {
    background-color: rgb(0, 0, 0);
    color: green;
    margin: 0px;
    padding: 0px;
    font-style: revert;
    font-size: 50px;

}

.app-wrapper {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.app-layout {
    display: flex;
    flex-direction: row;
}

.app-wrapper-content {
    width: 800px;
    margin-top: 30px;
    margin-bottom: 300px;
}








